.flex-container,
.flex-container-fluid {
	margin-left: auto;
	margin-right: auto;
	padding: 0 2rem;
	/*display: flex;*/
}

.flex-container {
	margin: 0 2rem;
}

/* Flexbox grid measurements. */
/* Tried doing 10 but not being able to split 3 ways annoyed me to no end.*/
.flex-1 {
  flex-basis: 8.33%;
  max-width: 8.33%;
}

.flex-2 {
  flex-basis: 16.66%;
  max-width: 16.66%;
}

.flex-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.flex-4 {
  flex-basis: 33.33%;
  max-width: 33.33%;
}

.flex-5 {
  flex-basis: 41.66%;
  max-width: 41.66%;
}

.flex-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.flex-7 {
  flex-basis: 58.33%;
  max-width: 58.33%;
}

.flex-8 {
  flex-basis: 66.66%;
  max-width: 66.66%;
}

.flex-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.flex-10 {
  flex-basis: 83.33%;
  max-width: 83.33%;
}

.flex-11 {
  flex-basis: 91.66%;
  max-width: 91.66%;
}

.flex-12 {
  flex-basis: 100%;
  max-width: 100%;
}


/* Defining flexbox row*/
.flex-row {
	display: flex;
	flex-flow: row wrap;
}

.flex-row-reverse {
	display: flex;
	flex-flow: row-reverse wrap;
}

.flex-column {
	display: flex;
	flex-flow: column wrap;
}

.flex-column-reverse {
	display: flex;
	flex-flow: column-reverse wrap;
}

/* Flexbox parent positioning */

.flex-justify-center {
	justify-content: center;
}

.flex-justify-start {
	justify-content: flex-start;
}

.flex-justify-end {
	justify-content: flex-end;
}

.flex-justify-between {
	justify-content: space-between;
}

.flex-justify-around {
	justify-content: space-around;
}


/*Parent align part of flexbox*/
.flex-align-start {
	align-content: flex-start;
}

.flex-align-end {
	align-content: flex-end;
}

.flex-align-center {
	align-content: flex-center;
}

.flex-align-around {
	align-content: space-around;
}

.flex-align-between {
	align-content: space-between;
}

/*Item align part of flexbox*/
.item-align-start {
	align-items: flex-start;
}

.item-align-end {
	align-items: flex-end;
}

.item-align-center {
	align-items: center;
}

.item-align-baseline {
	align-items: baseline;
}

.flex-s-1 {
	
}


/* Makes it easier to tell items apart for debugging. */
.highlight {
	height: 100px;
	max-height: 50%;
	border: black solid 2px;
	border-radius: .22vw;
	color: white;
	padding: 2px;
}

/*Responsive part*/

@media screen and (max-width: 425px) {
	
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1440px) {

}


/* This selector is to make sure items nested in other items get selected when debugging. */
.highlight .flex-row .highlight:nth-of-type(6n+1) {
	border-color: #222222;
}

.highlight .flex-row .highlight:nth-of-type(6n+2) {
	border-color: #E54B4B;
}

.highlight .flex-row .highlight:nth-of-type(6n+3) {
	border-color: #631D76;
}

.highlight .flex-row .highlight:nth-of-type(6n+4) {
	border-color: #00A878;
}

.highlight .flex-row .highlight:nth-of-type(6n+5) {
	border-color: #8D6346;
}

.highlight .flex-row .highlight:nth-of-type(6n+6) {
	border-color: #657ED4;
}

