/*Container stuff*/
/* --------------------------------------------------- */
.flex-container,
.flex-container-fluid
{
	margin: 0 auto;
    padding: 0 2rem;
}

.flex-container
{
    padding: 0 15px;
}

.flex-row .flex-row,
.flex-row .flex-row-reverse,
.flex-row .flex-column,
.flex-row .flex-column-reverse,
.flex-row-reverse .flex-row,
.flex-row-reverse .flex-row-reverse,
.flex-row-reverse .flex-column,
.flex-row-reverse .flex-column-reverse,
.flex-column .flex-row,
.flex-column .flex-row-reverse,
.flex-column .flex-column,
.flex-column .flex-column-reverse,
.flex-column-reverse .flex-row,
.flex-column-reverse .flex-row-reverse,
.flex-column-reverse .flex-column,
.flex-column-reverse .flex-column-reverse {
	margin: 0;
}


/* TURNING FLEXBOX CONTROLS INTO CLASSES */
/* --------------------------------------------------- *//* --------------------------------------------------- */

/* Defining flexbox display */
/* --------------------------------------------------- */
.flex-row, .flex-row-reverse, .flex-column, .flex-column-reverse {
    display: flex;
	margin: 0 -15px;
}

.flex-row
{
    flex-flow: row wrap;
}

.flex-row-reverse
{
    flex-flow: row-reverse wrap;
}

.flex-column
{
    flex-flow: column wrap;
}

.flex-column-reverse
{
    flex-flow: column-reverse wrap;
}

/* Flexbox parent positioning */
/* --------------------------------------------------- */
.flex-justify-center
{
    justify-content: center;
}

.flex-justify-start
{
    justify-content: flex-start;
}

.flex-justify-end
{
    justify-content: flex-end;
}

.flex-justify-between
{
    justify-content: space-between;
}

.flex-justify-around
{
    justify-content: space-around;
}

/*Parent align part of flexbox*/
/* --------------------------------------------------- */
.flex-align-start
{
    align-content: flex-start;
}

.flex-align-end
{
    align-content: flex-end;
}

.flex-align-center
{
    align-content: flex-center;
}

.flex-align-around
{
    align-content: space-around;
}

.flex-align-between
{
    align-content: space-between;
}

/*Item align part of flexbox*/
/* --------------------------------------------------- */
.item-align-start
{
    align-items: flex-start;
}

.item-align-end
{
    align-items: flex-end;
}

.item-align-center
{
    align-items: center;
}

.item-align-baseline
{
    align-items: baseline;
}

/* Flexbox grid measurements. */
/* --------------------------------------------------- */
/* Tried doing 10 but not being able to split 3 ways annoyed me to no end.*/
.flex-auto {
	flex: 1;
}

.flex-phone-1, .flex-tablet-1, .flex-laptop-1, .flex-desktop-1
{
    max-width: 6.17%;
    flex-basis: 6.17%;
}

.flex-phone-2, .flex-tablet-2, .flex-laptop-2, .flex-desktop-2
{
    max-width: 14.50%;
    flex-basis: 14.50%;
}

.flex-phone-3, .flex-tablet-3, .flex-laptop-3, .flex-desktop-3
{
    max-width: 22.84%;
    flex-basis: 22.84%;
}

.flex-phone-4, .flex-tablet-4, .flex-laptop-4, .flex-desktop-4
{
    max-width: 31.17%;
    flex-basis: 31.17%;
}

.flex-phone-5, .flex-tablet-5, .flex-laptop-5, .flex-desktop-5
{
    max-width: 39.50%;
    flex-basis: 39.50%;
}

.flex-phone-6, .flex-tablet-6, .flex-laptop-6, .flex-desktop-6
{
    max-width: 47.84%;
    flex-basis: 47.84%;
}

.flex-phone-7, .flex-tablet-7, .flex-laptop-7, .flex-desktop-7
{
    max-width: 56.17%;
    flex-basis: 56.17%;
}

.flex-phone-8, .flex-tablet-8, .flex-laptop-8, .flex-desktop-8
{
    max-width: 64.50%;
    flex-basis: 64.50%;
}

.flex-phone-9, .flex-tablet-9, .flex-laptop-9, .flex-desktop-9
{
    max-width: 72.84%;
    flex-basis: 72.84%;
}

.flex-phone-10, .flex-tablet-10, .flex-laptop-10, .flex-desktop-10
{
    max-width: 81.17%;
    flex-basis: 81.17%;
}

.flex-phone-11, .flex-tablet-11, .flex-laptop-11, .flex-desktop-11
{
    max-width: 89.50%;
    flex-basis: 89.50%;
}

.flex-phone-12, .flex-tablet-12, .flex-laptop-12, .flex-desktop-12
{
    max-width: 97.84%;
    flex-basis: 97.84%;
}

/* Styling everything for the gutter */
/* --------------------------------------------------- */
.flex-laptop-1, .flex-laptop-2, .flex-laptop-3, .flex-laptop-4, .flex-laptop-5,
.flex-laptop-6, .flex-laptop-7, .flex-laptop-8, .flex-laptop-9, .flex-laptop-10,
.flex-laptop-11, .flex-laptop-12, .flex-tablet-1, .flex-tablet-2, .flex-tablet-3,
.flex-tablet-4, .flex-tablet-5, .flex-tablet-6, .flex-tablet-7, .flex-tablet-8,
.flex-tablet-9, .flex-tablet-10, .flex-tablet-11, .flex-tablet-12, .flex-phone-1,
.flex-phone-2, .flex-phone-3, .flex-phone-4, .flex-phone-5, .flex-phone-6, .flex-phone-7,
.flex-phone-8, .flex-phone-9, .flex-phone-10, .flex-phone-11, .flex-phone-12 {
	position: relative;
    min-height: 1px;
    padding: 0 1.08%;
}


/* RESPONSIVE PART OF THE GRID */
/* --------------------------------------------------- *//* --------------------------------------------------- */
/* Responsive part (Breakpoint Programming) */
/* --------------------------------------------------- */
/* Large - Laptops */
@media screen and (min-width: 721px)
{

    .flex-laptop-1
    {
        /*max-width: 6.17%;*/

        flex-basis: 6.17%;
    }

    .flex-laptop-2
    {
        /*max-width: 14.50%;*/

        flex-basis: 14.50%;
    }

    .flex-laptop-3
    {
        /*max-width: 22.84%;*/

        flex-basis: 22.84%;
    }

    .flex-laptop-4
    {
        /*max-width: 31.17%;*/

        flex-basis: 31.17%;
    }

    .flex-laptop-5
    {
        /*max-width: 39.50%;*/

        flex-basis: 39.50%;
    }

    .flex-laptop-6
    {
        /*max-width: 47.84%;*/

        flex-basis: 47.84%;
    }

    .flex-laptop-7
    {
        /*max-width: 56.17%;*/

        flex-basis: 56.17%;
    }

    .flex-laptop-8
    {
        /*max-width: 64.50%;*/

        flex-basis: 64.50%;
    }

    .flex-laptop-9
    {
        /*max-width: 72.84%;*/

        flex-basis: 72.84%;
    }

    .flex-laptop-10
    {
        /*max-width: 81.17%;*/

        flex-basis: 81.17%;
    }

    .flex-laptop-11
    {
        /*max-width: 89.50%;*/

        flex-basis: 89.50%;
    }

    .flex-laptop-12
    {
        /*max-width: 97.84%;*/

        flex-basis: 97.84%;
    }
}

/* Medium - Tablet */
@media screen and (max-width: 720px)
{
    .flex-tablet-1
	{
	    max-width: 6.17%;

	    flex-basis: 6.17%;
	}

	.flex-tablet-2
	{
	    max-width: 14.50%;

	    flex-basis: 14.50%;
	}

	.flex-tablet-3
	{
	    max-width: 22.84%;

	    flex-basis: 22.84%;
	}

	.flex-tablet-4
	{
	    max-width: 31.17%;

	    flex-basis: 31.17%;
	}

	.flex-tablet-5
	{
	    max-width: 39.50%;

	    flex-basis: 39.50%;
	}

	.flex-tablet-6
	{
	    max-width: 47.84%;

	    flex-basis: 47.84%;
	}

	.flex-tablet-7
	{
	    max-width: 56.17%;

	    flex-basis: 56.17%;
	}

	.flex-tablet-8
	{
	    max-width: 64.50%;

	    flex-basis: 64.50%;
	}

	.flex-tablet-9
	{
	    max-width: 72.84%;

	    flex-basis: 72.84%;
	}

	.flex-tablet-10
	{
	    max-width: 81.17%;

	    flex-basis: 81.17%;
	}

	.flex-tablet-11
	{
	    max-width: 89.50%;

	    flex-basis: 89.50%;
	}

	.flex-tablet-12
	{
	    max-width: 97.84%;

	    flex-basis: 97.84%;
	}
}

/* Small - Mobile Phone */
@media screen and (max-width: 422.84px)
{

    .flex-phone-1
    {
        max-width: 6.17%;
        flex-basis: 6.17%;
    }

    .flex-phone-2
    {
        max-width: 14.50%;
        flex-basis: 14.50%;
    }

    .flex-phone-3
    {
        max-width: 22.84%;
        flex-basis: 22.84%;
    }

    .flex-phone-4
    {
        max-width: 31.17%;
        flex-basis: 31.17%;
    }

    .flex-phone-5
    {
        max-width: 39.50%;
        flex-basis: 39.50%;
    }

    .flex-phone-6
    {
        max-width: 47.84%;
        flex-basis: 47.84%;
    }

    .flex-phone-7
    {
        max-width: 56.17%;
        flex-basis: 56.17%;
    }

    .flex-phone-8
    {
        max-width: 64.50%;
        flex-basis: 64.50%;
    }

    .flex-phone-9
    {
        max-width: 72.84%;
        flex-basis: 72.84%;
    }

    .flex-phone-10
    {
        max-width: 81.17%;
        flex-basis: 81.17%;
    }

    .flex-phone-11
    {
        max-width: 89.50%;
        flex-basis: 89.50%;
    }

    .flex-phone-12
    {
        max-width: 97.84%;
        flex-basis: 97.84%;
    }
}


/* Container points for resizing. */
/* --------------------------------------------------- */
/* Extra Large - Desktops */
@media screen and (min-width: 1600px) {
	.flex-container {
		max-width: 1360px;
	}
}

/* Large - Laptops */
@media screen and (min-width: 800px) and (max-width: 1599px) {
	.flex-container {
		max-width: 1024px;
	}
}

/* Medium - Medium Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
	.flex-container {
		max-width: 800px;
	}
}

/* Medium - Smaller Tablet */
@media screen and (max-width: 767px) {
	.flex-container {
		max-width: 640px;
	}
}

/* Small - Mobile Phone */
@media screen and (max-width: 479px) {
	.flex-container {
		max-width: 90%;
	}
}


/* Makes it easier to tell items apart for debugging. */
/* --------------------------------------------------- */
.highlight
{
    height: 35px;
    font-size: 12px;
    outline: 1px solid red;
}